body {
    background-color: #110d18;
}
.content-wrapper {
    margin: auto;
    width: 768px;
    height: 612px;
    background-image: url('./background.png');
    position: absolute;
    top: 0px;
    left: 490px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.computer-wrapper > img{
    position: absolute;
}
.comp {
    z-index: 1000;
}
.comp--active {
    z-index: 0;
}
.bottom-panel {
    position: absolute;
    bottom: 0;
}
.loading {
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 100;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}